subscription_id           = \"00000000-0000-0000-0000-000000000000\"\ntenant_id                 = \"00000000-0000-0000-0000-000000000000\"\nresource_group_name       = \"missioncontrol-rg\"\nlocation                  = \"eastus\"\ntags = {\n  environment = \"azure\"\n}\npostgres_admin_login      = \"mc_admin\"\npostgres_admin_password   = \"PLEASE_CHANGE_ME\"\ncreator_object_id         = \"00000000-0000-0000-0000-000000000000\"\nbackend_storage_account   = \"missioncontrolstate\"\nbackend_container         = \"terraform-state\"\n*** End Patch
